body {
	background-color 11,8,12;
	color rgba:(0,139,139,0.5);
}

h1 {
font-family: Arial, verdana,sans-serif;
color #006353;
}


p {
font-family: Arial, verdana,sans-serif;
font-size 12px;
line-height 1.4;
}

ol {
list-style-type: upper-roman;
}

a:link{
color: 214,28,123;
text-decoration: none;
}
a:visited {
color:0,0,0;
}
a:hover {
color:214,28,123;
text-decoration: underline;
}
a:active {
color: 55,23,55;
}
