body {
	background-color 11,8,12;
	color rgba:(0,139,139,0.5);
	border-radius: 8px;
	box-shadow:inset 8px 8px 12px #000;
}

h1 {
font-family: Arial, verdana,sans-serif;
color #006353;
margin: 10px auto;
}
h2 {
font-family: Arial, verdana,sans-serif;
color 214,28,123;

p {
width: 300px;
font-family: Arial, verdana,sans-serif;
font-size 12px;
line-height 1.4;
margin: 10px auto;
}

ol {
list-style-type: upper-roman;
}

"#page list" a:link{
color: 214,28,123;
text-decoration: none;
}
a:visited {
color:0,0,0;
}
a:hover {
color:214,28,123;
text-decoration: underline;
}
a:active {
color: 55,23,55;
}

"#Ball in and out of play" {
height: 300px;
width: 400px;
background-color 214,28,123;
}