/*------ Document -----*/
body {
	margin: 0 auto;
	padding: 0;
	font: .75em/1.5em Helvetica, Arial, sans-serif;
	color: #797267;
	width: 960px;
	background: url("../images/header-bg.jpg") no-repeat top,url("../images/footer-bg.jpg") no-repeat bottom;
	}
#maincontent {
background: url("../images/main-content-bg.jpg") repeat;
}
h1 {
    text-decoration:none;
    border:0;
    width : 317px;
    height : 71px;
    margin : 0;
    padding : 0;
    background-image : url("../images/logo.gif") no-repeat;
 
 li {
 display: inline;
 margin-right: 10px;
 }

#banner {
background-image: url("../images/banner.jpg") no-repeat;
}
#column1of2{
width: 250px;
float: left;
margin: 25px;
background-image: url("../images/page-flip.gif");
background-repeat: no-repeat;
}
}
#column2of2{
width: 450px;
float:left;
margin:25px;
background-image: url("../images/page-flip.gif");
background-repeat: no-repeat;
}